<div class="modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <h2 class="modal__title">
                Calculator
            </h2>
            <p class="modal__desc">
                Here should be a short text description for
                users how this calculator works.
            </p>
            <div class="calculator-form">
                <div class="form__row">
                    <div class="form__row-item">
                        <p class="form__row-item-title">
                            Originally delayed payment
                        </p>
                        <ul class="form__row-item-list payment-list">
                            <li class="form__row-item-list-item form__row-item-list-item--active">
                                <p class="form__row-item-list-text">
                                    90 days
                                </p>
                            </li>
                            <li class="form__row-item-list-item">
                                <p class="form__row-item-list-text">
                                    100 days
                                </p>
                            </li>
                            <li class="form__row-item-list-item">
                                <p class="form__row-item-list-text">
                                    110 days
                                </p>
                            </li>
                            <li class="form__row-item-list-item">
                                <p class="form__row-item-list-text">
                                    120 days
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__row-item">
                        <p class="form__row-item-title">
                            Invoice factoring fees
                        </p>
                        <ul class="form__row-item-list invoice-list">
                            <li class="form__row-item-list-item form__row-item-list-item--active">
                                <p class="form__row-item-list-text">
                                    5%
                                </p>
                            </li>
                            <li class="form__row-item-list-item">
                                <p class="form__row-item-list-text">
                                    6%
                                </p>
                            </li>
                            <li class="form__row-item-list-item">
                                <p class="form__row-item-list-text">
                                    7%
                                </p>
                            </li>
                            <li class="form__row-item-list-item">
                                <p class="form__row-item-list-text">
                                    8%
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="calculator-form__message">
                    So you save $100
                </p>
                <a href="#" id="calculator-submit" class="form__button button button--solid button--small">
                    Speak with us
                </a>
            </div>
        </div>
        <div class="modal__close">
            <img src="../img/icons/close.png" alt="close modal" class="modal__close-img">
        </div>
    </div>
</div>
