<header class="header">
  <div class="container">
    <a href="/" class="header__logo">
      <img src="/img/images/logo.png" alt="logo" class="header__logo-img">
    </a>
    <nav class="header-menu">
      <ul class="header-menu__list">
        <li class="header-menu__item header-menu__item--active ">
          <a href="/" class="header-menu__item-link">
            Home
          </a>
        </li>
        <li class="header-menu__item">
          <a href="/#section-how-it-works-id" class="header-menu__item-link">
            How It Works
          </a>
        </li>
        <li class="header-menu__item">
          <a href="/#section-pricing-id" class="header-menu__item-link">
            Pricing
          </a>
        </li>
        <li class="header-menu__item">
          <a href="/form/" class="header-menu__item-link">
            Construction Resources
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__nav-buttons">
      <a href="/form/" class="desktop-item header__nav-buttons-item button button--transparent button--small">
        Schedule a demo
      </a>
      <a href="/form" class="mobile-item header__nav-buttons-item button button--solid button--small">
        Schedule a demo
      </a>
      <a href="/form/" class="header__nav-buttons-item button button--transparent button--small">
        Login
      </a>
    </div>
    <div class="header-burger mobile-item">
      <div class="header-burder__item"></div>
      <div class="header-burder__item"></div>
      <div class="header-burder__item"></div>
    </div>
  </div>
</header>